<div class="teams small-12 columns">
  <div class="teams-index-title">
    Today's teams
  </div>

  <div class="teams-index small-12 row">
    <% @teams.each do |team| %>
      <p class="team"><%= link_to team.name, team %></p>
    <% end %>
  </div>
</div>
