<h1> <%= @team.name %> </h1>

<% if !@players.empty? %>
  <ul>
    <% @players.each do |player| %>
      <li> <%= link_to player, player %> </li>
    <% end %>
  </ul>
<% elsif @team.user.id == current_user.id %>
  <div id="draft"></div>
<% else %>
  <h1>User has not drafted a team yet</h1>
<% end %>

<%= link_to "back to league", @team.league %>
