<div class="leagues small-12 columns">
  <div class="leagues-title">
    Select a league to join from the list below:
  </div>

  <div class="leagues-index small-3 row">
    <% @leagues.each do |league| %>
      <p class="league"><%= link_to league.name, league %></p>
    <% end %>
  </div>
</div>
