<div class="league-show small-12 columns">
  <div class="league-title small-9 row">
    <%= @league.name %>
  </div>

  <div class="teams-index small-12 row">
    <% @teams.each do |team| %>
      <p class="team"><%= link_to team.name, team %></p>
    <% end %>
  </div>

  <div class="league-show-links small-4 row">
      <%= link_to "Join this league!", "/leagues/#{@league.id}/teams/new" %>
    </br>
      <%= link_to "Back to leagues", "/leagues" %>
  </div>
</div>
