<h1>teams from leagues show page</h1>
<h2 id='teams'></h2>

<h3><%= @league.name %></h3>

<ul>
  <% @teams.each do |team| %>
    <li><%= link_to team.name, team %></li>
  <% end %>
</ul>

<div class="">
    <%= link_to "Join this league!", "/leagues/#{@league.id}/teams/new" %>
</div>
