<div class="users small-12 columns">
  <div class="users-index-title">
    All users:
  </div>

  <div class="users-index small-10 row">
    <% @users.each do |user| %>
      <p class="user"><%= link_to user.username, user %></p>
    <% end %>
  </div>
</div>
